p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.footer {
  background-color: #f8eeff;
  margin-top: 100px;
}
.footer-contact {
  border-bottom: 2px dotted black;
}
.footer-content {
  display: grid;
  grid-gap: 30px;
  padding: 20px;
  text-align: center;
  width: 80%;
  margin: auto;
}
.footer-copyright {
  padding: 30px;
  background-color: #1e272f;
  color: white;
  text-align: center;
}
@media (min-width: 786px) {
  .footer-content {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 991px) {
  .footer-content {
    grid-template-columns: repeat(3, auto);
  }
}
